<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/spring-security6">
<head>
  <meta charset="UTF-8">
  <title>Editar cliente</title>
</head>
<body>
  <section th:fragment="editarCliente" >
    <form th:action="@{/guardar}" class="was-validated" method="post" th:object="${persona}" >
      <input type="hidden" name="id" th:field="*{id}" />
      <section th:replace="~{layout/botonesEditar :: botonesEditar}" ></section>
    </form>
  </section>
</body>
</html>